* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  background-color: #222;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 18px;
  padding-bottom: 18px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  height: 38px;
  justify-content: center;
  align-items: center;
  gap: 41px;
}

.header__logo_magnifier {
  width: 26px;
  height: 26px;
}

.header__menu {
  display: flex;
  height: 29px;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.header__menu_1 {
  height: 23px;
}

.header__menu_2and3 {
  display: flex;
  height: 29px;
  gap: 41px;
}

.header__menu_3 {
  position: relative;
}

.header__menu_3_l {
  position: absolute;
  right: -9px;
  top: -8px;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #f16d7f;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
}

.main__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e4e6;
}

.main__brand_container {
  width: 1600px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4%;
}

.main__brand_container_image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 800px;
  width: 50%;
  height: auto;
}

.main__brand_container_img {
  width: 100%;
  height: auto;
}

.main__brand_container_title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 405px;
  gap: 16px;
}

.main__brand_container_title_redline {
  width: 12px;
  height: 92px;
  flex-shrink: 0;
  background-color: #f16d7f;
}

.main__brand_container_title_txt {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__brand_container_title_txt_1 {
  font-size: 48px;
  font-weight: 900;
}

.main__brand_container_title_txt_3 {
  color: #f16d7f;
}

.main__offer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__offer_container {
  display: flex;
  width: 1140px;
  justify-content: center;
  align-items: center;
  padding: 4.4% 2%;
  gap: 2.6%;
  flex-flow: row wrap;
}

.main__offer_container_short {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.6%;
  height: auto;
  overflow: hidden;
  background-color: #211616b3;
  background-blend-mode: multiply;
  padding: 9.3% 0%;
  background-position: center;
  background-size: cover;
  margin-top: 2.5%;
}

.offer_img1 {
  background-image: url(img/Offer_1.png);
}

.offer_img2 {
  background-image: url(img/Offer_2.png);
}

.offer_img3 {
  background-image: url(img/Offer_3.png);
}

.main__offer_container_long {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #211616b3;
  background-image: url(img/Offer_4.png);
  background-blend-mode: multiply;
  width: 100%;
  height: auto;
  padding: 5.4% 0%;
  margin-top: 2.5%;
  background-position: center;
  background-size: cover;
}

.main__offer_container_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 160px;
  text-align: center;
}

.main__offer_container_txt_1 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__offer_container_txt_2 {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__products {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__products_container {
  display: flex;
  max-width: 1140px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4.4% 1%;
}

.main__products_container_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 48px;
  gap: 6px;
}

.main__products_container_title_h2 {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align:center;
}

.main__products_container_title_p {
  text-align:center;
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-wrap: wrap;
}

.main__products_container_products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
  padding-bottom: 48px;
}

.main__products_container_products_product {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  max-width: 360px;
  margin-bottom: 2.5%;
  background-color: #f8f8f8;
}

.main__products_container_products_product_top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main__products_container_products_product_top_img {
  width: 100%;
  height: auto;
}

.main__products_container_products_product_top_add {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #3a3838;
  opacity: 0%;
  transition: all 0.5s;
}

.main__products_container_products_product_top_add:hover {
  opacity: 86%;
}

.main__products_container_products_product_top_add_button {
  display: flex;
  width: 139px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-style: groove;
  border-width: 1px;
  border-color: #ffffff;
  gap: 11px;
}

.main__products_container_products_product_top_add_button:active {
  background-color: #f16d7f;
  transition: all 0.3s;
}

.main__products_container_products_product_top_add_button_icon {
  width: 26px;
  height: 24px;
  flex-shrink: 0;
}

.main__products_container_products_product_top_add_button_txt {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__products_container_products_product_info {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 24px 16px;
  gap: 16px;
}

.main__products_container_products_product_info_ttl {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__products_container_products_product_info_txt {
  display: flex;
  justify-content: start;
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.main__products_container_products_product_info_prc {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__products_container_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 48px;
  border-style: groove;
  border-width: 1px;
  border-color: #f26376;
  color: #f26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1024px) {
  .main__brand_container_title_txt {
    font-size: 24px;
  }

  .main__brand_container_title_txt_1 {
    font-size: 44px;
  }
}

@media (max-width: 800px) {
  .header__menu_3_l {
    display: flex;
  }
}

@media (max-width: 737px) {

  .main__brand_container_image {
    display: none;
  }

  .main__brand_container {
    justify-content: center;
  }

  .main__brand_container_title_txt {
    font-size: 20px;
  }

  .main__brand_container_title_txt_1 {
    font-size: 38px;
  }

  .main__brand_container_title_redline {
    width: 12px;
    height: 61px;
  }

  .main__brand_container_title {
    padding: 148px 0px;
  }
}

@media (max-width: 600px) {
  .header__menu_2and3 {
    display: none;
  }

  .main__offer_container {
    flex-direction: column;
  }

  .main__offer_container_short {
    width: 100%;
    padding: 29% 0%;
  }
}

@media (max-width: 382px) {
  .main__products_container {
    width: 100%;
    height: auto;
  }

  .main__products_container_products {
    width: 100%;
    height: auto;
  }
  .main__products_container_products_product {
    width: 100%px;
    height: auto;
  }
}
