* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  background-color: #222;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 18px;
  padding-bottom: 18px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  height: 38px;
  justify-content: center;
  align-items: center;
  gap: 41px;
}

.header__logo_magnifier {
  width: 26px;
  height: 26px;
}

.header__menu {
  display: flex;
  height: 29px;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.header__menu_1 {
  height: 23px;
  transition: all 0.5s;
}

.header__menu_box {
  display: none;
  flex-direction: column;
  width: 198px;
  height: 600px;
  padding-left: 34px;
  padding-top: 34px;
  position: absolute;
  right: 0px;
  top: 74px;
  gap: 24px;
  background-color: #ffffff;
  box-shadow: -10px 10px 25px #6f6e6e;
  transition: all 0.5s;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__menu_box:hover {
  display: flex;
}

.header__menu_box_ttl {
  font-weight: bold;
  color: #000000;
}

.header__menu_box_man {
  display: flex;
  flex-direction: column;
  gap: 11px;
  color: #f16d7f;
}

.header__menu_box_man_links {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  gap: 11px;
  justify-content: start;
}

.font_grey {
  color: #6f6e6e;
  transition: all 0.5s;
}

.font_grey:hover {
  color: #f16d7f;
}

.header__menu_1:hover .header__menu_box {
  display: flex;
}

.header__menu_1:active .header__menu_box {
  display: flex;
}

.header__menu_1:focus-within .header__menu_box {
  display: flex;
}

.header__menu_2and3 {
  display: flex;
  height: 29px;
  gap: 41px;
}

.header__menu_3 {
  position: relative;
}

.header__menu_3_l {
  position: absolute;
  right: -9px;
  top: -8px;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #f16d7f;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
}

.main__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e4e6;
}

.main__brand_container {
  width: 1600px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4%;
}

.main__brand_container_image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 800px;
  width: 50%;
  height: auto;
}

.main__brand_container_img {
  width: 100%;
  height: auto;
}

.main__brand_container_title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 405px;
  gap: 16px;
}

.main__brand_container_title_redline {
  width: 12px;
  height: 92px;
  flex-shrink: 0;
  background-color: #f16d7f;
}

.main__brand_container_title_txt {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__brand_container_title_txt_1 {
  font-size: 48px;
  font-weight: 900;
}

.main__brand_container_title_txt_3 {
  color: #f16d7f;
}

.main__offer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__offer_container {
  display: flex;
  width: 1140px;
  justify-content: center;
  align-items: center;
  padding: 4.4% 2%;
  gap: 2.6%;
  flex-flow: row wrap;
}

.main__offer_container_short {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.6%;
  height: auto;
  overflow: hidden;
  background-color: #211616b3;
  background-blend-mode: multiply;
  padding: 9.3% 0%;
  background-position: center;
  background-size: cover;
  margin-top: 2.5%;
}

.offer_img1 {
  background-image: url(img/Offer_1.png);
}

.offer_img2 {
  background-image: url(img/Offer_2.png);
}

.offer_img3 {
  background-image: url(img/Offer_3.png);
}

.main__offer_container_long {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #211616b3;
  background-image: url(img/Offer_4.png);
  background-blend-mode: multiply;
  width: 100%;
  height: auto;
  padding: 5.4% 0%;
  margin-top: 2.5%;
  background-position: center;
  background-size: cover;
}

.main__offer_container_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 160px;
  text-align: center;
}

.main__offer_container_txt_1 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__offer_container_txt_2 {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__products {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__products_container {
  display: flex;
  max-width: 1140px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4.4% 1%;
}

.main__products_container_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 48px;
  gap: 6px;
}

.main__products_container_title_h2 {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.main__products_container_title_p {
  text-align: center;
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-wrap: wrap;
}

.main__products_container_products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
  padding-bottom: 48px;
}

.main__products_container_products_product {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  max-width: 360px;
  margin-bottom: 2.5%;
  background-color: #f8f8f8;
}

.main__products_container_products_product_top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main__products_container_products_product_top_img {
  width: 100%;
  height: auto;
}

.main__products_container_products_product_top_add {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #3a3838;
  opacity: 0%;
  transition: all 0.5s;
}

.main__products_container_products_product_top_add:hover {
  opacity: 86%;
}

.main__products_container_products_product_top_add_button {
  display: flex;
  width: 139px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-style: groove;
  border-width: 1px;
  border-color: #ffffff;
  gap: 11px;
}

.main__products_container_products_product_top_add_button:active {
  background-color: #f16d7f;
  transition: all 0.3s;
}

.main__products_container_products_product_top_add_button_icon {
  width: 26px;
  height: 24px;
  flex-shrink: 0;
}

.main__products_container_products_product_top_add_button_txt {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__products_container_products_product_info {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 24px 16px;
  gap: 16px;
}

.main__products_container_products_product_info_ttl {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__products_container_products_product_info_txt {
  display: flex;
  justify-content: start;
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.main__products_container_products_product_info_prc {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__products_container_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 48px;
  border-style: groove;
  border-width: 1px;
  border-color: #f26376;
  color: #f26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.5s;
}

.main__products_container_button:hover {
  border-color: #f26376;
  color: #ffffff;
  background-color: #f26376;
}

footer {
  display: flex;
  background-color: #222;
  flex-direction: column;
  align-items: center;
}

.footer__feature {
  min-height: 216px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 62px;
  padding-bottom: 62px;
  gap: 62px;
}

.footer__feature_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
}

.footer__feature_box_img {
  max-height: 35px;
}

.footer__feature_box_ttl {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fbfbfb;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__feature_box_txt {
  max-width: 320px;
  display: flex;
  text-align: center;
  color: #fbfbfb;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer__subscribe {
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  min-height: 448px;
  width: 100%;
  background-image: url("img/subscribe_back.png");
  background-position: bottom;
  background-size: cover;
}

.footer__subscribe_boxes {
  display: flex;
  justify-content: start;
  align-items: end;
  flex-flow: row wrap;
  width: 1140px;
  padding-top: 97px;
  gap: 328px;
}

.footer__subscribe_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 360px;
  gap: 30px;
}

.footer__subscribe_box_img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-image: url("img/Frame_7.png");
  background-position: center;
  background-size: 100%;
}

.footer__subscribe_box_info {
  text-align: center;
  justify-content: center;
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__subscribe_box_info_italic {
  font-style: italic;
}

.footer__subscribe_box_ttl {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167%;
}

.bold {
  font-weight: bold;
  font-size: 24px;
}

.footer__subscribe_box_subs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.footer__subscribe_box_email {
  height: 49px;
  width: 230px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background-color: #e1e1e1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  padding-left: 25px;
}

.footer__subscribe_box_btn {
  display: flex;
  height: 49px;
  width: 100px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  line-height: normal;
  background-color: #f26376;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  justify-content: center;
  align-items: center;
  border: none;
}

.footer__copyright {
  display: flex;
  min-height: 79px;
  width: 72%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright_txt {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.footer__copyright_icons {
  display: flex;
  width: 148px;
  height: 32px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright_icons_icon {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.footer__copyright_icons_icon:hover {
  background-color: #f26376;
}

@media (max-width: 1181px) {
  .footer__feature {
    flex-direction: column;
  }

  .footer__subscribe {
    background-position-x: 25%;

    background-size: cover;
  }

  .footer__subscribe_boxes {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 62px;
    padding-bottom: 140px;
    gap: 80px;
  }

  .footer__copyright {
    width: 92%;
  }
}

@media (max-width: 1024px) {
  .main__brand_container_title_txt {
    font-size: 24px;
  }

  .main__brand_container_title_txt_1 {
    font-size: 44px;
  }
}

@media (max-width: 737px) {
  .main__brand_container_image {
    display: none;
  }

  .main__brand_container {
    justify-content: center;
  }

  .main__brand_container_title_txt {
    font-size: 20px;
  }

  .main__brand_container_title_txt_1 {
    font-size: 38px;
  }

  .main__brand_container_title_redline {
    width: 12px;
    height: 61px;
  }

  .main__brand_container_title {
    padding: 148px 0px;
  }
}

@media (max-width: 600px) {
  .header__menu_2and3 {
    display: none;
  }

  .main__offer_container {
    flex-direction: column;
  }

  .main__offer_container_short {
    width: 100%;
    padding: 29% 0%;
  }

  .footer__copyright {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    gap: 40px;
  }
}

@media (max-width: 382px) {
  .main__products_container {
    width: 100%;
    height: auto;
  }

  .main__products_container_products {
    width: 100%;
    height: auto;
  }
  .main__products_container_products_product {
    width: 100%px;
    height: auto;
  }

  .footer__subscribe_box_info {
    font-size: 18px;
  }

  .footer__subscribe_box_ttl {
    font-size: 14px;
    line-height: 153%;
  }

  .footer__subscribe_box {
    width: 94%;
  }
  .footer__subscribe_box_subs {
    width: 100%;
  }
  .footer__subscribe_box_email {
    width: 62%;
  }

  .footer__subscribe_box_btn {
    width: 30%;
  }
}
